Library/
Temp/
Obj/
Build/
Logs/
UserSettings/
.vs/
.idea/
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
Builds/
Build/
Packages/com.unity.package-manager-ui/
